set ideajoin
set number relativenumber

" =====================================
"       Tips for IntelliJ IDEA
" =====================================
" IntelliJ set-up
" // column width visual guide
" Settings -> Code Style -> General -> visual guides: 80, 120

" ---- Project Management ----
" ctrl + alt + s            // open settings
" ctrl + shift + alt + s    // open project structure
" ctrl + shift + a          // search actions

" ---- Coding ----
" ctrl + alt + l            // open project panel
" ctrl + alt + f            // open structure panel on the left
" ctrl + alt + 1            // open terminal
" f12                       // declarations or usages
" alt + shift + f12         // show usages of a class

" =====================================
"         Key mappings
" =====================================

" change <leader> key to space
nnoremap <Space> <Nop>
let mapleader = " "

map <F9> :vsp ~/.ideavimrc<CR>
map <F6> :so ~/.ideavimrc<CR>

" =====================================
"         Suggested option
" =====================================
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" set up searching
set ignorecase          " ignore case
set smartcase           " no ignore for uppercase
set incsearch           " search as you type
set hlsearch            " search highlights
" stop highlighting
nnoremap <F3> :noh<CR>

" Don't use Ex mode, use Q for formatting.
map Q gq

" =====================================
"         IDE actions
" =====================================
" https://github.com/JetBrains/ideavim#executing-ide-actions
" Find more examples here: https://jb.gg/share-ideavimrc
" use :actionlist to fetch all IDE actions
" use `track action Ids` in "Search Everywhere" to find the action id

" Reformat Code action (IDE shortcut: ctrl + alt + Enter)
map <leader>r <Action>(ReformatCode)
" toggle the breakpoint on the current line
map <leader>b <Action>(ToggleLineBreakpoint)
" start debugging
map <leader>d <Action>(Debug)

" folding
map za <Action>(ExpandRegion)
map zA <Action>(ExpandRegionRecursively)
map zR <Action>(ExpandAllRegions)
map zc <Action>(CollapseRegion)
map zC <Action>(CollapseRegionRecursively)
map zM <Action>(CollapseAllRegions)

" =====================================
"         Plugins
" =====================================
" https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins
Plug 'easymotion/vim-easymotion'
Plug 'dbakker/vim-paragraph-motion'
Plug 'tpope/vim-surround'

" https://github.com/tpope/vim-commentary/blob/master/doc/commentary.txt
"     gc comment/uncomment code
"     gc{motion}
"     {Visual}gc
Plug 'tpope/vim-commentary'

" https://github.com/JetBrains/ideavim/wiki/NERDTree-support
Plug 'preservim/nerdtree'
nmap <leader>t :NERDTreeToggle<CR>
let g:NERDTreeMapActivateNode='l'

